@use "../abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: Montserrat, serif;
    font-size: var(--fs-mobile-400, map-get($font-sizes, mobile, "400" ));
    color: var(--color-primary, map-get($colors, color, "primary"));
    @include md {
        font-size: var(--fs-desktop-400, map-get($font-sizes, desktop, "400" ));
    }
}