$font-sizes: (
    desktop: (
        "800": 18rem,       // 288px
        "700": 3rem,        // 48px
        "600": 2.25rem,     // 36px
        "500": 1.5rem,      // 24px
        "400": 1.125rem,    // 18px
        "300": 0.875rem,    // 14px
    ),
    mobile: (
        "800": 6rem,        // 96px
        "700": 1.5rem,      // 24px
        "600": 1.125rem,    // 18px
        "500": 0.875rem,    // 14px
        "400": 0.75rem,     // 12px
        "300": 0.625rem,     // 10px
    )
);
