@use "../../../sass/abstracts" as *;

.card {
    border-radius: var(--br-400, 0.625rem);
    height: 16rem;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    @include md {
        height: 21.25rem;
    }
}
.cardLoading {
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1s shine linear infinite;
        > * {
           display: none;
        }
        .bgDark {
            display: block;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        }
}
.image {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}
.text {
    color: var(--text-white, #ffffff);
    font-size: var(--fs-mobile-600, 1.125rem);
    position: relative;
    padding: 1.25rem;
    z-index: 2;
}

.bgDark {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}